{% macro render_publication(publication) %}
    <li id="{{ publication.key }}">
        {{ publication.text }}
        [
        <a href="#{{ publication.key }}-bibtex">BibTeX</a>
        {% for label, target in [
            ('PDF', publication.pdf),
            ('slides', publication.slides),
            ('poster', publication.poster)] %}
            {% if target %}
            | <a href="{{ target }}">{{ label }}</a>
            {% endif %}
        {% endfor %}
        ]
        <div class="bib-fold" id="{{ publication.key }}-bibtex">
            <a class="bib-close" href="#{{ publication.key }}">&times;</a>
            <pre>{{
            publication.bibtex
            | trim
            | escape
            | replace('\n', '<br>')
            }}</pre>
        </div>
    </li>
{% endmacro  %}

<style>
    .bib-fold { display: none; }
    .bib-fold:target { display: block; }
    .bib-close { display: block; position: absolute; right: .2em; padding: .2em; margin-top: -.2em; margin-right: .5em; color: inherit; text-decoration: none; font-size: 3em; font-weight: bold; background-color: #fff; }
</style>

<ol>
  {% for publication in publications|sort(True, attribute='year') %}
      {{ render_publication(publication) }}
  {% endfor %}
</ol>